body{
    padding-top:150px;
}

.panel-login{
    border-color:#ccc;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);;
}

.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}